.home-header {
  height: 30px;
  background-color: gray;
  width: 100%;
}
.home-container {
  display: flex;
  justify-content: space-evenly;
  div {
    flex-grow: 1;
    flex-basis: 0;
    box-sizing: border-box;
    padding: 10px;
  }
}
